body {
  color: white;
  background-color: black;
  background-image: url("backgroundimg.jpg") no-repeat center center fixed;
  background-size: cover;
}


.logo {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 45px;
  background-image: linear-gradient(45deg,#60efff, #0061ff );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  
}

.nav-link {
  color: white;
  
}

h1 {
  font-family: 'Handlee', cursive;
  color: white;
}
h2 {
  padding-bottom: 40px;
  border-bottom: 1px ridge;
}

#welcomeGreeting {
  margin-left: auto;
  border-bottom: 1px ridge;
  color: white;
}

.row-content {
  padding: 50px 0;
  min-height: 200px;
}

#artquote {
  font-size: 35px;
  font-family: cursive;
  color: rgb(233, 220, 220);
  
  
}

.smaller {
  font-size: 25px;
}


.crd-info {
  margin-top: 100px;
  
}

#exampleModal {
  color: black;
}


.galleryImage {
 
  background-size: 100px;
}

.card {
  color: black;
  width: 325px;
}

.row-content-about {
  padding: 50px 0;
  
  min-height: 200px; }

  #dexxAbout {
      background-color: rgba(59, 74, 77, 0.788);
      font-family: 'Architects Daughter', cursive;
      font-size: 25px; 
  }

.card {
  margin-top: 100px;
  margin-right: 50px;
}
.cardTitle {
  text-align: center;
  margin-top: 15px;
}

.socialBtn {
  margin-left: 5px;
}

.cardBody {
  display: flex;
  justify-content:space-between;
}

.btn-link {
  color: white;
  font-size: 17px;
}

#profile-pic {
  width: 60%;
}



 